
$color-primary: #28b485;
$color-primary-light: #7ed56f;
$color-primary-medium: #55c57a;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.7),
    rgba($color-primary, 0.7)),
    url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    position: relative;
}



.logo {
    height: 35px;

    &-box {
        position: absolute;
        top: 40px;
        left: 40px;
    }
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    height: 35px;
}

.heading-primary-main,
.heading-primary-sub {
    color: #ffffff;
    text-transform: uppercase;
    display: block;
}

.heading-primary-main {
    font-size: 60px;
    letter-spacing: 35px;
}

.heading-primary-sub {
    font-size: 20px;
    letter-spacing: 15px;

}

